.DS_Store
**/.DS_Store

**/.env
**/.env.*.local
**/.env.local

**/node_modules
**/.next
**/out
**/.turbo
**/coverage
**/.vercel
**/.local

**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
